#app {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0 auto;
    width: 100%;
}

#main {
    flex: 1;
    display: flex;
}

#toolbar {
    padding: 0 6px 0 6px;
    z-index: 1;
    height: 40px;
    box-shadow: hsla(0, 0%, 40%, 0.3) 0 0 4px 2px;
    border-bottom-width: 1px;
    border-bottom-style: solid;

    display: flex;
    flex-direction: row;
}

#sidebar {
    z-index: 1;
    width: 200px;
    border-right-width: 1px;
    border-right-style: solid;
    display: flex;
    flex-direction: column;
}

#sidebar-input-box {
    box-sizing: border-box;
    padding: 8px;
    outline: none;
    border-width: 0 0 1px 0;
    border-bottom-style: solid;
    resize: none;
    flex: 0 0 auto;
    width: 100%;
}

#sidebar-list {
    height: 0;
    flex: 1 1 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: 8px;
}

.card {
    margin-top: 8px;
    margin-left: 8px;
    margin-right: 8px;
    height: auto;
    box-shadow: hsla(0, 0%, 40%, 0.3) 0 1px 2px 1px;
    padding: 6px;
    cursor: move;
}

.file-row {
    height: auto;
    max-lines: 1;
    padding: 8px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.file-row .icon {
    display: inline-block;
    background-size: 20px;
    height: 100% !important;
    width: 20px;
}

#editor {
    flex-shrink: 40;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#editor textarea {
    padding-top: 3.5em;
    border: none;
    resize: none;
    box-sizing: border-box;
    width: 80%;
    max-width: 600px;
    height: 100%;
}

.input-box:focus {
    outline: none;
}

#sidebar-tabs {
    display: flex;
    flex-direction: row;
    border-width: 0 0 1px 0;
    border-style: solid;
}

#sidebar-tabs button {
    flex: 1;
    height: 28px;
    border-width: 0 1px 0 0;
    font-variant: titling-caps;

    transition-duration: 300ms;
}

#sidebar-tabs button:focus {
    outline: none;
}

#sidebar-tabs button:last-of-type {
    border-width: 0;
}

#trash-box {
    position: absolute;
    bottom: 24px;
    right: 24px;
    background-size: 64px;
    height: 64px;
    width: 64px;
}
