#app {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0 auto;
    width: 100%;
}

#main {
    flex: 1;
    display: flex;
}

.side {
    z-index: 1;
}

#toolbar {
    padding: 0 6px 0 6px;
    height: 40px;
    box-shadow: hsla(0, 0%, 40%, 0.3) 0 0 4px 2px;
    border-bottom-width: 1px;
    border-bottom-style: solid;

    display: flex;
    flex-direction: row;
}

#sidebar {
    width: 200px;
    border-right-width: 1px;
    border-right-style: solid;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    display: flex;
    flex-direction: column;
    min-height: 12em;
}

#sidebar-input-box {
    box-sizing: border-box;
    padding: 8px;
    outline: none;
    border-width: 0 0 1px 0;
    border-bottom-style: solid;
    resize: none;
    flex: 0 0 auto;
    width: 100%;
}

#sidebar-list {
    height: 0;
    flex: 1 1 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: 8px;
}

.card {
    margin-top: 8px;
    margin-left: 8px;
    margin-right: 8px;
    height: auto;
    box-shadow: hsla(0, 0%, 40%, 0.3) 0 1px 2px 1px;
    padding: 6px;
    cursor: move;
}

.file-row {
    height: auto;
    max-lines: 1;
    padding: 8px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.file-row .icon {
    display: inline-block;
    background-size: 20px;
    height: 100% !important;
    width: 20px;
}

#editor {
    position: relative;
    flex-shrink: 40;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#editor textarea {
    padding-top: 3.5em;
    border: none;
    resize: none;
    box-sizing: border-box;
    width: 80%;
    max-width: 600px;
    height: 100%;
}

.input-box:focus {
    outline: none;
}

#sidebar-tabs {
    display: flex;
    flex-direction: row;
    border-width: 0 0 1px 0;
    border-style: solid;
}

#sidebar-tabs button {
    flex: 1;
    height: 28px;
    border-width: 0 1px 0 0;
    font-variant: titling-caps;

    transition-duration: 300ms;
}

#sidebar-tabs button:focus {
    outline: none;
}

#sidebar-tabs button:last-of-type {
    border-width: 0;
}

.ui-draggable-dragging {
    width: 120px;
    height: 40px;
}

#trash-box {
    position: absolute;
    bottom: 24px;
    right: 24px;
    background-size: 64px;
    height: 64px;
    width: 64px;
    z-index: 100;

    transition: background-size 100ms;
}

#trash-box:hover {
    background-size: 72px;
}

#plugin-bar {
    width: 64px;
    border-left-width: 1px;
    border-left-style: solid;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    display: flex;
    flex-direction: column;
    min-height: 32px;
}

#plugin-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    border-left-width: 1px;
    border-left-style: solid;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding: 16px;
}

#plugin-panel textarea,select,button {
    flex: 1 1 auto;
    border-radius: 4px;
    border-width: 1px;
    resize: none;
}

#plugin-panel.light-theme button {
    height: 2em;
}

#plugin-panel .row {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

#plugin-panel .column {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 24px 0 24px 0;
}

#plugin-panel textarea {
    outline: none;
    padding: 6px;
}

@media only screen and (max-device-width: 700px) {
    #main {
        flex-direction: column;
    }

    #sidebar, #plugin-bar {
        width: 100%;
    }

    #plugin-bar {
        flex-direction: row;
    }
}