:root {
    --filter-blue: invert(27%) sepia(51%) saturate(2878%) hue-rotate(186deg) brightness(74%) contrast(97%);
    --filter-white: invert(100%);
    --filter-grey: invert(47%) sepia(19%) saturate(0%) hue-rotate(143deg) brightness(80%) contrast(93%);
    --filter-red: invert(21%) sepia(42%) saturate(6259%) hue-rotate(343deg) brightness(76%) contrast(119%);
}

#toolbar.light-theme p[disabled] {
    color: hsl(0, 0%, 60%);
}

.light-theme.side {
    background-color: hsl(0, 0%, 98%);
    border-color: hsla(0, 0%, 0%, 0.1);
}

.light-theme.input-box {
    background-color: hsl(0, 0%, 100%);
    border-color: hsla(0, 0%, 0%, 0.1);
}

.light-theme.card, .light-theme.file-row {
    background-color: hsl(0, 0%, 100%);
}

.light-theme.icon {
    filter: var(--filter-grey)
}

.light-theme.icon:hover,
.light-theme.icon:focus {
    filter: var(--filter-blue)
}

#sidebar-list .light-theme.file-row.selected {
    background-color: hsla(214, 100%, 50%, 0.5);
}

.file-row .icon:hover {
    filter: var(--filter-red);
}

.light-theme.selected {
    background-color: hsl(0, 0%, 78%);
}

#plugin-panel.light-theme textarea, #plugin-panel.light-theme select, #plugin-panel.light-theme button {
    background-color: hsl(0, 0%, 100%);
    border-color: hsla(0, 0%, 0%, 0.1);
}

#plugin-panel.light-theme textarea:focus, #plugin-panel.light-theme select:focus, #plugin-panel.light-theme button:focus {
    outline: lightblue solid 1px;
}

#plugin-panel.light-theme button {
    background-color: hsl(0, 0%, 98%);
}

#trash-box.icon:hover, #trash-box.icon:focus {
    filter: var(--filter-red);
}
