.icon {
    display: inline-block;
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
}

#toolbar .icon {
    height: 100%;
    width: 40px;
}

.side .icon {
    height: 64px;
}

#plugin-panel .icon {
    height: 100%;
    background-size: 20px;
    width: 40px;
}

.icon-doc {
    background-image: url("../assets/doc.svg");
}

.icon-scratch {
    background-image: url("../assets/scratch.svg");
}

.icon-help {
    background-image: url("../assets/icon-help.svg");
}

.icon-trash {
    background-image: url("../assets/icon-trash.svg");
}

.icon-translate {
    background-image: url("../assets/icon-translate.svg");
}

.icon-arrow {
    background-image: url("../assets/icon-arrow.svg");
}

@media only screen and (max-width: 700px) {
    .side .icon {
        width: 64px;
    }
}